

<section class="main d-flex justify-content-evenly">
	<div>
		<h1 class="fw-bold">Find & apply for your ideal program</h1>
		<p class="fs-4 mt-5">We maximize your chance of getting admitted to your chosen universities. Reduced application fees, a free assessment and access to a dedicated advisor.</p>
		<button type="button" class="btn btn-outline-primary border-2">How Can You Help You?</button>
	</div>
	<div class="card text-center p-2 mx-5">
		<div class="card-body">
			<h1 class="fs-3 fw-bolder">Find your best matches</h1>
			<p class="fs-5">
				Answer a few simple questions to get a tailored list of the programs that best match your needs
			</p>
			<button class="btn btn-success">Get Started ➡️</button>
		</div>
</section>

<!-- content -->
<section class="bg-light p-5">
	<div class="d-flex justify-content-between pb-4">
		<div class="d-flex">
			<button class="btn button">Filters</button>
			<button class="btn button mx-5">Profile</button>
		</div>
		<div class="btn-group">
			<button class="btn button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Sort By <span class="text-primary-emphasis fw-bolder">Name</span>
			</button>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Name</a></li>
				<li><a class="dropdown-item" href="#">Name</a></li>
				<li><a class="dropdown-item" href="#">Name</a></li>
			</ul>
		</div>
	</div>
	<p>When you apply any filters, your results will also include programs that closely match your filters, to give you the most choice possible.</p>

	<div class="card my-5 position-relative">
		<div class="d-flex justify-content-between px-4 py-2">
			<div class="card-body">
				<div class="d-flex">
					<img class="position-relative border p-2 rounded-1 x-3 me-3" src="https://images.studee.com/images/university/university__academy-of-information-technology--logo.png?ixlib=js-2.3.2&auto=format&fit=crop&q=35&w=85&h=85" alt="">


					<div>
						<h5 class="card-title fs-3"><span class="fw-bold">2D Animation (Melbourne Campus)</span> - BAnim</h5>
						<p class="card-text text-secondary"><span class="fw-bold">AIT Academy of Interactive Technology, </span>Australia <span class="bg-success rounded-1 text-light px-2 py-1">Blended learning</span></p>
					</div>
				</div>
				<div class="d-flex  mx-2">
					<div class="bg-light px-4 py-2">
						<h6 class="fs-5 text-secondary">program type</h6>
						<span class="fw-bold fs-5">Undergradurate diploma</span>
					</div>
					<div class="bg-light px-4 py-2 mx-2">
						<h6 class="fs-5 text-secondary">program type</h6>
						<span class="fw-bold fs-5">Undergradurate diploma</span>
					</div>
					<div class="bg-light px-4 py-2 mx-2">
						<h6 class="fs-5 text-secondary">program type</h6>
						<span class="fw-bold fs-5">Undergradurate diploma</span>
					</div>

				</div>

			</div>
			<div class=" border-start px-4 my-auto">
				<button type="button" class="btn btn-warning d-block btn-lg border-2 mx-auto my-4 text-light">Start Application</button>
				<button type="button" class="btn btn-outline-primary d-block btn-lg border-2 mx-auto my-4">Pogram Details</button>
			</div>
		</div>
	</div>

	<button type="button" class="btn btn-outline-primary d-block btn-lg border-2 mx-auto my-4">Load More ⬇️</button>
	<button type="button" class="btn text-secondary btn-lg fw-bold d-block border-2 mx-auto">Return To Top Of Page ⬆️</button>
	</div>


</section>
 <style>
		*{
			font-family: 'PT Sans', sans-serif;
			font-weight: 400;
			color: #2b2d4a;
		}
 .main{
      background-image: url(https://images.studee.com/images/content/content__search--hero.svg);
						background-repeat: no-repeat;
						background-size: cover;
						align-items: center;
						padding: 5rem 1rem;
 }

	.main h1{
		font-size: 48px;
	}

	.main button{
		margin-top: 1rem;
		padding: 0.6rem 1rem;
		font-size: 1.2rem;
	}

	.card{
		box-shadow: 0 2px 4px 0 rgba(90,90,114,0.15);
	}

	.button{
		border: 1px solid #2b2d4a29;
		border-radius: 10px;
		background-color: white;
		padding: 0.6rem 2rem;
		font-size: 18px;
		box-shadow: 0 2px 4px 0 rgba(90,90,114,0.15);
	}

	.button:hover{
				border: 1px solid #2b2d4a29;
		border-radius: 10px;
		background-color: white;
		padding: 0.6rem 2rem;
		font-size: 18px;
	}

	p{
		font-size: 18px;
	}

	img{
		top: -2.5rem;
		background-color: white;

	}

 </style>