<style>
	* {
		font-family: 'PT Sans', sans-serif;
		font-weight: 400;
		color: #2b2d4a;
	}

	.main {
		background-image: url(https://images.studee.com/images/content/content__search--hero.svg);
		background-repeat: no-repeat;
		background-size: cover;
		align-items: center;
		padding: 5rem 1rem;
	}

		.main h1 {
			font-size: 48px;
		}

		.main button {
			margin-top: 1rem;
			padding: 0.6rem 1rem;
			font-size: 1.2rem;
		}

	.card {
		box-shadow: 0 2px 4px 0 rgba(90,90,114,0.15);
	}

	.button {
		border: 1px solid #2b2d4a29;
		border-radius: 10px;
		background-color: white;
		padding: 0.6rem 2rem;
		font-size: 18px;
		box-shadow: 0 2px 4px 0 rgba(90,90,114,0.15);
	}

		.button:hover {
			border: 1px solid #2b2d4a29;
			border-radius: 10px;
			background-color: white;
			padding: 0.6rem 2rem;
			font-size: 18px;
		}

	p {
		font-size: 18px;
	}

	img {
		height: 10rem;
	}

</style>

<section class="main d-flex justify-content-evenly">
	<div>
		<h1 class="fw-bold">Find & apply for your ideal program</h1>
		<p class="fs-4 mt-5">We maximize your chance of getting admitted to your chosen universities. Reduced application fees, a free assessment and access to a dedicated advisor.</p>
		<button type="button" class="btn btn-outline-primary border-2">How Can You Help You?</button>
	</div>
	<div class="card text-center p-2 mx-5">
		<div class="card-body">
			<h1 class="fs-3 fw-bolder">Find your best matches</h1>
			<p class="fs-5">
				Answer a few simple questions to get a tailored list of the programs that best match your needs
			</p>
			<button class="btn btn-success">Get Started ➡️</button>
		</div>
</section>

<!-- content -->
<section class="bg-light p-5">
	<div class="container overflow-hidden">
		<div class="row gy-5">
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="card">
					<img src="https://images.unsplash.com/photo-1696943444991-def9485f89f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=400&q=60" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title text-center fw-bold fs-2 text-primary-emphasis">Al Akhawayn University</h5>
						<p><span class="fw-bold">San Diego,</span> USA</p>
						<div>


							<div class="container overflow-hidden">
								<div class="row gy-5 ">
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-6 text-secondary">International students</h6>
											<span class="fw-bold fs-5">106</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
									<div class="col-6 ">
										<div class="bg-light p-2">
											<h6 class="fs-5 text-secondary">Type</h6>
											<span class="fw-bold fs-5">Public</span>
										</div>
									</div>
								</div>
							</div>



							<div class="d-flex flex-column my-4">
								<button type="button" class="btn btn-warning d-block btn-lg  my-2 text-light">Start Application</button>
								<button type="button" class="btn btn-outline-primary d-block btn-lg  my-2">Pogram Details</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<button type="button" class="btn btn-outline-primary d-block btn-lg border-2 mx-auto my-4">Load More ⬇️</button>
	<button type="button" class="btn text-secondary btn-lg fw-bold d-block border-2 mx-auto">Return To Top Of Page ⬆️</button>
	</div>


</section>